{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div class="row">
            <h1>Repérer</h1>
            <h1>></h1>
            <h1 class="mauve">Hiérarchiser</h1>
        </div>
        <h1>Analyse de la charge physique de travail - Phase 1 - Hiérarchiser les situations de travail</h1>
        <p>Pour cette situation de travail, y a-t-il des difficulés liées à :</p>
        <p class="mauve">À remplir à partir d'observations et du ressenti des salariés.</p>

        {{ form_start(form) }}
        <table class="table table-striped table-hover table-light">
            <thead>
                <tr>
                    <th scope="col" class="mauve_cell" style="text-align:center; vertical-align:middle">Domaines</th>
                    <th scope="col" class="mauve_cell" style="text-align:center; vertical-align:middle">Questions</th>
                    <th scope="col" class="resume_green" style="text-align:center; vertical-align:middle">Non</th>
                    <th scope="col" class="resume_yellow" style="text-align:center; vertical-align:middle">Oui mais non critiques</th>
                    <th scope="col" class="resume_red" style="text-align:center; vertical-align:middle">Oui</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="7" colspan="1" style="text-align:center; vertical-align:middle"><h3 class="p_black">{{ domaine3ED6161.intitule }}</h3></td>
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[0].intitule }}</td>
                    {% for key, valueItem in form.value_Q1.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[1].intitule }}</td>
                    {% for key, valueItem in form.value_Q2.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[2].intitule }}</td>
                    {% for key, valueItem in form.value_Q3.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[3].intitule }}</td>
                    {% for key, valueItem in form.value_Q4.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[4].intitule }}</td>
                    {% for key, valueItem in form.value_Q5.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td style="text-align:center" colspan="5">...</td>
                </tr>
                <tr>
                    <td rowspan="7" colspan="1" style="text-align:center; vertical-align:middle"><h3 class="p_black">{{ domaine4ED6161.intitule }}</h3></td>
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[5].intitule }}</td>
                    {% for key, valueItem in form.value_Q6.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[6].intitule }}</td>
                    {% for key, valueItem in form.value_Q7.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[7].intitule }}</td>
                    {% for key, valueItem in form.value_Q8.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[8].intitule }}</td>
                    {% for key, valueItem in form.value_Q9.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[9].intitule }}</td>
                    {% for key, valueItem in form.value_Q10.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td style="text-align:center" colspan="5">...</td>
                </tr>
                <tr>
                    <td rowspan="7" colspan="1" style="text-align:center; vertical-align:middle"><h3 class="p_black">{{ domaine5ED6161.intitule }}</h3></td>
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[10].intitule }}</td>
                    {% for key, valueItem in form.value_Q11.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[11].intitule }}</td>
                    {% for key, valueItem in form.value_Q12.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[12].intitule }}</td>
                    {% for key, valueItem in form.value_Q13.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[13].intitule }}</td>
                    {% for key, valueItem in form.value_Q14.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[14].intitule }}</td>
                    {% for key, valueItem in form.value_Q15.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td style="text-align:center" colspan="5">...</td>
                </tr>
                <tr>
                    <td rowspan="7" colspan="1" style="text-align:center; vertical-align:middle"><h3 class="p_black">{{ domaine6ED6161.intitule }}</h3></td>
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[15].intitule }}</td>
                    {% for key, valueItem in form.value_Q16.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[16].intitule }}</td>
                    {% for key, valueItem in form.value_Q17.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[17].intitule }}</td>
                    {% for key, valueItem in form.value_Q18.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[18].intitule }}</td>
                    {% for key, valueItem in form.value_Q19.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[19].intitule }}</td>
                    {% for key, valueItem in form.value_Q20.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td style="text-align:center" colspan="5">...</td>
                </tr>
                <tr>
                    <td rowspan="7" colspan="1" style="text-align:center; vertical-align:middle"><h3 class="p_black">{{ domaine7ED6161.intitule }}</h3></td>
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[20].intitule }}</td>
                    {% for key, valueItem in form.value_Q21.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[21].intitule }}</td>
                    {% for key, valueItem in form.value_Q22.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[22].intitule }}</td>
                    {% for key, valueItem in form.value_Q23.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[23].intitule }}</td>
                    {% for key, valueItem in form.value_Q24.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ questionsGrille2ED6161[24].intitule }}</td>
                    {% for key, valueItem in form.value_Q25.children %}
                        <td>
                            {{ form_widget(valueItem) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td style="text-align:center" colspan="5">...</td>
                </tr>
            </tbody>
        </table>
        
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_ED6161_grille_1',  { 'id': id, 'id2': id2 }) }}">Annuler</a>
            {{ form_widget(form.valider, {'attr': {'class': 'button3_right'}} ) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}