{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div class="row">
            <h1>{% trans %}Repérer{% endtrans %}</h1>
            <h1>></h1>
            <h1 class="mauve">{% trans %}Hiérarchiser{% endtrans %}</h1>
        </div>
        <h1>{% trans %}Analyse de la charge physique de travail - Phase 1 - Hiérarchiser{% endtrans %}</h1>
        <p class="mauve">{% trans %}Voici les résultats de la hiérarchisation des postes de travail{% endtrans %}</p>
        <p>{% trans %}Tableau récapitulatif des postes et des situations :{% endtrans %}</p>

        <table class="table table-striped table-hover table-light">
            <thead>
                <tr>
                    <th scope="col" class="mauve_cell" style="text-align:center">{% trans %}Ordre{% endtrans %}</th>
                    <th scope="col" class="mauve_cell" style="text-align:center">{% trans %}Secteur{% endtrans %}</th>
                    <th scope="col" class="mauve_cell" style="text-align:center">{% trans %}Poste de travail{% endtrans %}</th>
                    <th scope="col" class="resume_green" style="text-align:center">{% trans %}Non{% endtrans %}</th>
                    <th scope="col" class="resume_yellow" style="text-align:center">{% trans %}Oui, mais non critique{% endtrans %}</th>
                    <th scope="col" class="resume_red" style="text-align:center">{% trans %}Oui et critique{% endtrans %}</th>
                    <th scope="col" colspan="2" class="mauve_cell" style="text-align:center">{% trans %}Action{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% set nombreEvaluationHierarchisable = 0 %}
                {% for evaluation in evaluations %}
                    {% if evaluation.Q2Non != null %}
                        {% set nombreEvaluationHierarchisable = nombreEvaluationHierarchisable + 1 %}
                    {% endif %}
                    <tr>
                        {% set ordreParent = loop.index %}
                        <th scope="row" style="text-align:center">{{ loop.index }}</th>
                        <td style="text-align:center">{{ evaluation.secteur.nom }}</td>
                        <td style="text-align:center">{{ evaluation.posteDeTravail.nom }}</td>
                        <td style="text-align:center">{{ evaluation.Q2Non }}</td>
                        <td style="text-align:center">{{ evaluation.Q2OuiNonCritique }}</td>
                        <td style="text-align:center">{{ evaluation.Q2OuiCritique }}</td>
                        {% if (evaluation.Q2Non == null) and (evaluation.Q2OuiNonCritique == null) and (evaluation.Q2OuiCritique == null) %}
                            <td class="gray_cell" style="text-align:center" colspan="2">
                                <a class="text_white" href="{{ path('adept_ED6161_grille_1',  { 'id': id, 'id2': evaluation.id }) }}">
                                    Coter le poste de travail
                                </a>
                            </td>
                        {% else %}
                            <td style="text-align:center">
                                <a class="navbar-brand" href="{{ path('adept_ED6161_grille_1',  { 'id': id, 'id2': evaluation.id }) }}">
                                    <img src="/images/edit.png" alt="icon editer" id="icon_edit" class="icon_click">
                                </a>
                            </td>
                            <td style="text-align:center">
                                <a class="navbar-brand" href="{{ path('adept_ED6161_delete_poste',  { 'id': evaluation.posteDeTravail.id, 'id2': evaluation.id }) }}">
                                    <img src="/images/delete.png" alt="icon delete" id="icon_edit" class="icon_click">
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                    {% for situation in situations %}
                        {% if situation.posteDeTravail == evaluation.posteDeTravail %}
                            <tr>
                                {% if ordreEnfant is defined %}
                                    {% set ordreEnfant = ordreEnfant + 1 %}
                                {% else %}
                                    {% set ordreEnfant = 1 %}
                                {% endif %}
                                
                                <th scope="row" style="text-align:right">{{ ordreParent }}.{{ ordreEnfant }}</th>
                                <td style="text-align:center">{{ evaluation.secteur.nom }}</td>
                                <td style="text-align:center">{{ evaluation.posteDeTravail.nom }}</td>
                                <td colspan="3" style="text-align:center">
                                    {{ situation.nom }}
                                </td>
                                <td style="text-align:center">
                                    <a class="navbar-brand" href="{{ path('adept_tool_NFX35109_from_ED6161',  { 'id': evaluation.id, 'id2': situation.id }) }}">
                                        <img src="/images/right_arrow.png" alt="icon evaluer" id="icon_edit" class="icon_click">
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <a class="navbar-brand" href="{{ path('adept_ED6161_delete_situation',  { 'id': evaluation.id, 'id2': situation.id }) }}">
                                        <img src="/images/delete.png" alt="icon delete" id="icon_edit" class="icon_click">
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="8" class="mauve_cell" style="text-align:center">
                            <a class="a_adept_ocre"  href="{{ path('adept_tool_ED6161_new_situation',  { 'id': evaluation.id }) }}">{% trans %}Évaluer une nouvelle situation NF X35-109{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="8" class="mauve_cell" style="text-align:center">
                        <a class="a_adept_ocre"  href="{{ path('adept_tool_ED6161',  { 'id': id }) }}">{% trans %}Ajouter un poste de travail{% endtrans %}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            document.getElementById("afficher_situations_element").style.visibility = "visible";
            document.getElementById("masquer_situations_element").style.visibility = "collapse";
            <!--document.getElementById("afficher_situations_element").style.display = "block";
            document.getElementById("masquer_situations_element").style.display = "none";-->
            

            public function AfficherSituations(){
                document.getElementById("afficher_situations_element").style.visibility = "collapse";
                document.getElementById("masquer_situations_element").style.visibility = "visible";
            }

            public function MasquerSituations(){
                document.getElementById("afficher_situations_element").style.visibility = "visible";
                document.getElementById("masquer_situations_element").style.visibility = "collapse";
            }

            document.getElementById('afficher_situations').addEventListener('change', AfficherSituations);
            document.getElementById('masquer_situations').addEventListener('change', MasquerSituations);
        </script>

        {{ form_start(form) }}
        <div class="modal fade" id="ModalCenterTerminer" tabindex="-1" role="dialog" aria-labelledby="Enregistrer l'analyse" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header card_header_animation">
                        <h5 class="modal-title">{% trans %}Enregistrer l'analyse{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div>
                        <div class="row_flex modal_margin modal_label">
                            <p class="text_margin_right p_black">{% trans %}Nom :{% endtrans %}</p>
                            {{ form_widget(form.nom, {'attr': {'class': 'form_control_60', 'placeholder': 'Nom...'}} ) }}
                        </div>
                    </div>
                    <div class="group_button modal_margin">
                        <button type="button" class="button3_left" data-dismiss="modal">{% trans %}Annuler{% endtrans %}</button>
                        {{ form_widget(form.valider, {'attr': {'class': 'button3_right'}} ) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_tool_ED6161',  { 'id': id }) }}">{% trans %}Retour{% endtrans %}</a>
            <button id="button_Terminer" type="button" class="button3_center" data-toggle="modal" data-target="#ModalCenterTerminer">{% trans %}Terminer{% endtrans %}</button>
            {% if nombreEvaluationHierarchisable < 2 %}
                <a class="button3_right button_adept_inactif">{% trans %}Suggestion de hiérarchisation{% endtrans %}</a>
            {% else %}
                <a class="button3_right">{% trans %}Suggestion de hiérarchisation{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}