{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            <h1>Manutention Manuelle de charge - Résumé de la charge</h1>

            <hr>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <h5>Les conditions favorables</h5>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Valeur</th>
                                <th scope="col">Commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="positif_poids" colspan="3">
                                <td>Poids de la charge</td>
                                <td>{{ charge.poidsCharge }} kg</td>
                                <td class="resume_green">Le poids de la charge est acceptable</td>
                            </tr>
                            <tr id="positif_distance">
                                <td scope="col">Transport de la charge</td>
                                <td scope="col">{{ charge.distanceTransportCharge }} m</td>
                                <td scope="col" class="resume_green">La distance est acceptable</td>
                            </tr>
                            <tr id="positif_hauteur_prise">
                                <td scope="col">Hauteur de prise</td>
                                <td scope="col">{{ charge.priseHauteur }} m</td>
                                <td scope="col" class="resume_green">La hauteur est acceptable</td>
                            </tr>
                            <tr id="positif_profondeur_prise">
                                <td scope="col">Profondeur de prise</td>
                                <td scope="col">{{ charge.priseProfondeur }} m</td>
                                <td scope="col" class="resume_green">La distance est acceptable</td>
                            </tr>
                            <tr id="positif_hauteur_depose">
                                <td scope="col">Hauteur de dépose</td>
                                <td scope="col">{{ charge.deposeHauteur }} m</td>
                                <td scope="col" class="resume_green">La hauteur est acceptable</td>
                            </tr>
                            <tr id="positif_profondeur_depose">
                                <td scope="col">Profondeur de dépose</td>
                                <td scope="col">{{ charge.deposeProfondeur }} m</td>
                                <td scope="col" class="resume_green">La distance est acceptable</td>
                            </tr>
                            <tr id="positif_contraintes_execution">
                                <td scope="col">Contraintes d'exécution</td>
                                <td scope="col">0</td>
                                <td scope="col" class="resume_green">Aucune contrainte d'exécution de la tâche</td>
                            </tr>
                            <tr id="positif_contraintes_environnement">
                                <td scope="col">Contraintes d'environnement</td>
                                <td scope="col">0</td>
                                <td scope="col" class="resume_green">Aucune contrainte d'environnement de la tâche</td>
                            </tr>
                            <tr id="positif_contraintes_organisation">
                                <td scope="col">Contraintes d'organisation</td>
                                <td scope="col">0</td>
                                <td scope="col" class="resume_green">Aucune contrainte d'organisation de la tâche</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <h5>Les points à améliorer</h5>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Valeur</th>
                                <th scope="col">Commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="negatif_poids">
                                <td scope="col">Poids de la charge</td>
                                <td scope="col">{{ charge.poidsCharge }} kg</td>
                                <td scope="col" class="resume_red">Le poids de la charge n'est pas acceptable, elle devrait être inférieur à ..kg.</td>
                            </tr>
                            <tr id="negatif_distance">
                                <td scope="col">Transport de la charge</td>
                                <td scope="col">{{ charge.distanceTransportCharge }} m</td>
                                <td scope="col" class="resume_red">La distance n'est pas acceptable, elle devrait être inférieur à 10m.</td>
                            </tr>
                            <tr id="negatif_hauteur_prise">
                                <td scope="col">Hauteur de prise</td>
                                <td scope="col">{{ charge.priseHauteur }}</td>
                                <td scope="col" class="resume_red">La hauteur n'est pas acceptable, il faudrait qu'elle soit comprise entre 0,75m et 1,10m.</td>
                            </tr>
                            <tr id="negatif_profondeur_prise">
                                <td scope="col">Profondeur de prise</td>
                                <td scope="col">{{ charge.priseProfondeur }} m</td>
                                <td scope="col" class="resume_red">La distance n'est acceptable, elle devrait être inférieure à 0,40 cm.</td>
                            </tr>
                            <tr id="negatif_hauteur_depose">
                                <td scope="col">Hauteur de dépose</td>
                                <td scope="col">{{ charge.deposeHauteur }}</td>
                                <td scope="col" class="resume_red">La hauteur n'est pas acceptable, il faudrait qu'elle soit comprise entre 0,75m et 1,10m.</td>
                            </tr>
                            <tr id="negatif_profondeur_depose">
                                <td scope="col">Profondeur de dépose</td>
                                <td scope="col">{{ charge.deposeProfondeur }} m</td>
                                <td scope="col" class="resume_red">La distance n'est acceptable, elle devrait être inférieure à 0,40 cm.</td>
                            </tr>
                            <tr id="negatif_contraintes_execution">
                                <td scope="col">Contraintes d'exécution</td>
                                <td scope="col">0</td>
                                <td scope="col" class="resume_red">Les contraintes d'exécution de la tâche sont nombreuses</td>
                            </tr>
                            <tr id="negatif_contraintes_environnement">
                                <td scope="col">Contraintes d'environnement</td>
                                <td scope="col">0</td>
                                <td scope="col" class="resume_red">Les contraintes d'environnement de la tâche sont nombreuses</td>
                            </tr>
                            <tr id="negatif_contraintes_organisation">
                                <td scope="col">Contraintes d'organisation</td>
                                <td scope="col">0</td>
                                <td scope="col" class="resume_red">Les contraintes d'organisation de la tâche sont nombreuses</td>
                            </tr>
                        </tbody>
                    </table>
                    <p id="texte_penalisant">Les facteurs qui vous pénalisent le plus sont :</p>
                    <p class="mauve" id="texte_hauteur_prise"> - Hauteur de prise</p>
                    <p class="mauve" id="texte_hauteur_depose"> - Hauteur de dépose</p>
                </div>
            </div>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_handling_without_assistance_resume',  { 'id': idEvaluation }) }}" >Revenir en arrière</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance_charge_informations',  { 'id': idEvaluation }) }}" >Modifier</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance_resume',  { 'id': idEvaluation }) }}" >Supprimer</a>
        </div>

        <script>
            document.getElementById("positif_poids").style.display = "none";
            document.getElementById("positif_distance").style.display = "none";
            document.getElementById("positif_hauteur_prise").style.display = "none";
            document.getElementById("positif_profondeur_prise").style.display = "none";
            document.getElementById("positif_hauteur_depose").style.display = "none";
            document.getElementById("positif_profondeur_depose").style.display = "none";
            document.getElementById("positif_contraintes_execution").style.display = "none";
            document.getElementById("positif_contraintes_environnement").style.display = "none";
            document.getElementById("positif_contraintes_organisation").style.display = "none";

            document.getElementById("negatif_poids").style.display = "none";
            document.getElementById("negatif_distance").style.display = "none";
            document.getElementById("negatif_hauteur_prise").style.display = "none";
            document.getElementById("negatif_profondeur_prise").style.display = "none";
            document.getElementById("negatif_hauteur_depose").style.display = "none";
            document.getElementById("negatif_profondeur_depose").style.display = "none";
            document.getElementById("negatif_contraintes_execution").style.display = "none";
            document.getElementById("negatif_contraintes_environnement").style.display = "none";
            document.getElementById("negatif_contraintes_organisation").style.display = "none";

            document.getElementById("texte_penalisant").style.display = "none";
            document.getElementById("texte_hauteur_prise").style.display = "none";
            document.getElementById("texte_hauteur_depose").style.display = "none";

            if({{ charge.poidsCharge }} <= 15){
                document.getElementById("positif_poids").style.display = "block";
            } else {
                document.getElementById("negatif_poids").style.display = "block";
            }

            if({{ charge.distanceTransportCharge }} <= 10){
                document.getElementById("positif_distance").style.display = "block";
            } else {
                document.getElementById("negatif_distance").style.display = "block";
            }

            if({{ charge.priseHauteur }} <= 1.1){
                document.getElementById("positif_hauteur_prise").style.display = "block";
            } else {
                document.getElementById("negatif_hauteur_prise").style.display = "block";
            }

            if({{ charge.priseProfondeur }} <= 0.4){
                document.getElementById("positif_profondeur_prise").style.display = "block";
            } else {
                document.getElementById("negatif_profondeur_prise").style.display = "block";
            }

            if({{ charge.deposeHauteur }} <= 1.1){
                document.getElementById("positif_hauteur_depose").style.display = "block";
            } else {
                document.getElementById("negatif_hauteur_depose").style.display = "block";
            }

            if({{ charge.deposeProfondeur }} <= 0.4){
                document.getElementById("positif_profondeur_depose").style.display = "block";
            } else {
                document.getElementById("negatif_profondeur_depose").style.display = "block";
            }
        </script>
    </div>
{% endblock %}