{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            <h1>Manutention manuelle sans aide à la manutention</h1>
            <p>Tableau récapitulatif des charges :</p>
            <table class="table table-striped table-hover table-light">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Masse (kg)</th>
                        <th scope="col">Hauteur prise (m)</th>
                        <th scope="col">Profondeur prise (m)</th>
                        <th scope="col">Distance (m)</th>
                        <th scope="col">Transport de charge</th>
                        <th scope="col">Hauteur dépose (m)</th>
                        <th scope="col">Profondeur dépose (m)</th>
                        <th scope="col">Nb charge similaire</th>
                        <th scope="col" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for charge in charges %}
                    <tr>
                        <th scope="row"></th>
                        <td>
                            {{ charge.poidsCharge }}
                        </td>
                        <td>
                            {{ charge.priseHauteur }}
                        </td>
                        <td>
                            {{ charge.priseProfondeur }}
                        </td>
                        <td>
                            {{ charge.distanceTransportCharge }}
                        </td>
                        <td>
                            {{ charge.transportCharge }}
                        </td>
                        <td>
                            {{ charge.deposeHauteur }}
                        </td>
                        <td>
                            {{ charge.deposeProfondeur }}
                        </td>
                        <td>
                            {{ charge.nombreChargeIdentique }}
                        </td>
                        <td>
                        <a class="navbar-brand" href="{{ path('adept_NFX35109_handling_without_assistance_edit_charge', { 'id': idEvaluation, 'id2': charge.id }) }}">
                            <img src="/images/edit.png" alt="icon editer" id="icon_edit" class="icon_click">
                        </a>
                    </td>
                    <td>
                        <a class="navbar-brand" href="{{ path('adept_NFX35109_handling_without_assistance_delete_charge', { 'id': idEvaluation, 'id2': charge.id }) }}">
                            <img src="/images/delete.png" alt="icon supprimer" id="icon_delete" class="icon_click">
                        </a>
                    </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="11">
                            <a class="a_adept center" href="{{ path('adept_NFX35109_handling_without_assistance_charge_informations',  { 'id': idEvaluation }) }}" >Ajouter une charge</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_manutention_type',  { 'id': idEvaluation }) }}" >Revenir en arrière</a>
            <a id="button_continue" class="button_adept_inactif" href="{{ path('adept_NFX35109_handling_without_assistance_tonnage_frequence',  { 'id': idEvaluation }) }}" >Continuer</a>
        </div>

        <script>
            var charges = '{{ charges | json_encode | raw }}';
            if(charges.length > 0){
                 document.getElementById(button_continue).style.display = 'none';
            }
        </script>
    </div>
{% endblock %}