{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div class="row">
            <h1>{% trans %}Repérer{% endtrans %}</h1>
            <h1>></h1>
            <h1>{% trans %}Hiérarchiser{% endtrans %}</h1>
            <h1>></h1>
            <h1 class="mauve">{% trans %}Évaluer{% endtrans %}</h1>
        </div>
        <h1>{% trans %}Manutention Manuelle de charge - Contraintes{% endtrans %}</h1>

        <hr>
        <div class="row h_margin_bottom">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Est considérée comme une contrainte d'exécution toute caractéristique physique de la réalisation de la tâche perçue ou ressentie par l'opérateur comme gênante, inconfortable ou nuisant à la bonne réalisation de celle-ci.">
                <img src="/images/help2.png" alt="icon help dimension temporelle" id="icon_help_dimension_temporelle" class="icon_click_margin_right">
            </span>
            <h3>{% trans %}Conditions d'exécution de la tâche{% endtrans %}</h3>
        </div>

        {{ form_start(form) }}
        <div>
            <div class="row constraints margin_left_10">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_label(form.contrainte_poignees_inadaptees, form.contrainte_poignees_inadaptees.vars.label, {'label_attr': {'class': 'text_white'}} ) }}
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    {{ form_widget(form.contrainte_poignees_inadaptees, {'attr': {'class': 'switch2'} }) }}
                    {{ form_errors(form.contrainte_poignees_inadaptees) }}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <button id="button_definir" type="button" class="button5" data-toggle="modal" data-target="#ModalDefinir">{% trans %}Définir{% endtrans %}</button>
                </div>
            </div>

            <div class="row constraints margin_left">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_label(form.contrainte_torsion_tronc, form.contrainte_torsion_tronc.vars.label, {'label_attr': {'class': 'text_white'}} ) }}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_widget(form.contrainte_torsion_tronc, {'attr': {'class': 'switch2'} }) }}
                    {{ form_errors(form.contrainte_torsion_tronc) }}
                </div>
            </div>

            <div class="row constraints margin_left">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_label(form.contrainte_profondeur_prise, form.contrainte_profondeur_prise.vars.label, {'label_attr': {'class': 'text_white'}} ) }}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_widget(form.contrainte_profondeur_prise, {'attr': {'class': 'switch2'} }) }}
                    {{ form_errors(form.contrainte_profondeur_prise) }}
                </div>
            </div>

            <div class="row constraints margin_left">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_label(form.contrainte_hors_zone_atteinte, form.contrainte_hors_zone_atteinte.vars.label, {'label_attr': {'class': 'text_white'}} ) }}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_widget(form.contrainte_hors_zone_atteinte, {'attr': {'class': 'switch2'} }) }}
                    {{ form_errors(form.contrainte_hors_zone_atteinte) }}
                </div>
            </div>

            <div class="row constraints margin_left">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_label(form.contrainte_posture, form.contrainte_posture.vars.label, {'label_attr': {'class': 'text_white'}} ) }}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_widget(form.contrainte_posture, {'attr': {'class': 'switch2'} }) }}
                    {{ form_errors(form.contrainte_posture) }}
                </div>
            </div>

            <div class="row constraints margin_left">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_label(form.contrainte_charge_instable, form.contrainte_charge_instable.vars.label , {'label_attr': {'class': 'text_white'}} ) }}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_widget(form.contrainte_charge_instable, {'attr': {'class': 'switch2'} }) }}
                    {{ form_errors(form.contrainte_charge_instable) }}
                </div>
            </div>

            <div class="row constraints margin_left">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_label(form.contrainte_visibilite_limitee, form.contrainte_visibilite_limitee.vars.label, {'label_attr': {'class': 'text_white'}} ) }}
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    {{ form_widget(form.contrainte_visibilite_limitee, {'attr': {'class': 'switch2'} }) }}
                    {{ form_errors(form.contrainte_visibilite_limitee) }}
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" id="ModalDefinir" tabindex="-1" role="dialog" aria-labelledby="Definir" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">                        
                    <div class="modal-header modal_font">
                        <h5 class="modal-title">{% trans %}Les poignées sont-elles adaptées ?{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row_flex modal_margin modal_label">
                            <p class="text_margin_right p_black">{% trans %}Veuillez cocher la case si la proposition correspond à votre situation :{% endtrans %}</p>
                        </div>
                        <div class="switch" id="switch_Q1">
                            <p class="text_margin_right p_black modal_text_70">{% trans %}La position des poignées est adaptée au centre de gravité de l'objet et au type d'activité exécutée ?{% endtrans %}</p>
                            <input type="checkbox" id="check_Q1" value="non">
                            <label for="check_Q1" data-off="Non" data-on="Oui"></label>
                        </div>
                        <div class="switch" id="switch_Q2">
                            <p class="text_margin_right p_black modal_text_70">{% trans %}Lorsque la manutention est horizontale alors elle est assurée par une machine ?{% endtrans %}</p>
                            <input type="checkbox" id="check_Q2" value="non">
                            <label for="check_Q2" data-off="Non" data-on="Oui"></label>
                        </div>
                        <div class="switch" id="switch_Q3">
                            <p class="text_margin_right p_black modal_text_70">{% trans %}Les poignées présentent-elles des arêtes vives ou un risque de compression pour les doigts ?{% endtrans %}</p>
                            <input type="checkbox" id="check_Q3" value="non">
                            <label for="check_Q3" data-off="Non" data-on="Oui"></label>
                        </div>
                        <div class="switch" id="switch_Q4">
                            <p class="text_margin_right p_black modal_text_70">{% trans %}La forme des poignées permet-elle une prise en crochet ou une prise à pleine main dans la position main-bras neutre ?{% endtrans %}</p>
                            <input type="checkbox" id="check_Q4" value="non">
                            <label for="check_Q4" data-off="Non" data-on="Oui"></label>
                        </div>
                        <div class="switch" id="switch_Q5">
                            <p class="text_margin_right p_black modal_text_70">{% trans %}Le diamètre de la poignée est compris entre 2 cm et 4 cm ?{% endtrans %}</p>
                            <input type="checkbox" id="check_Q5" value="non">
                            <label for="check_Q5" data-off="Non" data-on="Oui"></label>
                        </div>
                        <div class="switch" id="switch_Q6">
                            <p class="text_margin_right p_black modal_text_70">{% trans %}La longueur de la poignée est supérieure à 12,5 cm et présente un espace libre de 7 cm au-dessus des doigts ?{% endtrans %}</p>
                            <input type="checkbox" id="check_Q6" value="non">
                            <label for="check_Q6" data-off="Non" data-on="Oui"></label>
                        </div>
                        <br>
                        <p class="mauve" id="flag_inadaptee"> -> {% trans %}Les poignées de la charge ne semblent pas adaptées.{% endtrans %}</p>
                        <p class="mauve" id="flag_adaptee"> -> {% trans %}Les poignées de la charge semblent adaptées.{% endtrans %}</p>
                        <br>
                        <div class="row">
                            <p class="p_black" style="text-decoration: underline">Informations complémentaires</p>
                            <p class="p_black"> : Une poignée de forme cylindrique ou elliptique est a privilégier</p>
                        </div>
                        <br>
                        <div class="row">
                            <p class="p_black" style="text-decoration: underline">Référence</p>
                            <p class="p_black"> : NF EN 1005-2:2003, page 8</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("switch_Q1").style.display = 'block';
            document.getElementById("switch_Q2").style.display = 'block';
            document.getElementById("switch_Q3").style.display = 'block';
            document.getElementById("switch_Q4").style.display = 'block';
            document.getElementById("switch_Q5").style.display = 'block';
            document.getElementById("switch_Q6").style.display = 'block';
            document.getElementById("check_Q1").checked = false;
            document.getElementById("check_Q2").checked = false;
            document.getElementById("check_Q3").checked = false;
            document.getElementById("check_Q4").checked = false;
            document.getElementById("check_Q5").checked = false;
            document.getElementById("check_Q6").checked = false;

            document.getElementById("flag_inadaptee").style.display = 'block';
            document.getElementById("flag_adaptee").style.display = 'none';

            function updateDisplay(){
                if (document.getElementById('check_Q1').checked){
                    if (document.getElementById('check_Q2').checked){
                        if (document.getElementById('check_Q3').checked == false){
                            if (document.getElementById('check_Q4').checked){
                                if (document.getElementById('check_Q5').checked){
                                    if (document.getElementById('check_Q6').checked){
                                        document.getElementById("flag_inadaptee").style.display = 'none';
                                        document.getElementById("flag_adaptee").style.display = 'block';
                                    } else {
                                        document.getElementById("flag_inadaptee").style.display = 'block';
                                        document.getElementById("flag_adaptee").style.display = 'none';
                                    }
                                } else {
                                    document.getElementById("flag_inadaptee").style.display = 'block';
                                    document.getElementById("flag_adaptee").style.display = 'none';
                                }
                            } else {
                                document.getElementById("flag_inadaptee").style.display = 'block';
                                document.getElementById("flag_adaptee").style.display = 'none';
                            }
                        } else {
                            document.getElementById("flag_inadaptee").style.display = 'block';
                            document.getElementById("flag_adaptee").style.display = 'none';
                        }
                    } else {
                        document.getElementById("flag_inadaptee").style.display = 'block';
                        document.getElementById("flag_adaptee").style.display = 'none';
                    }
                } else {
                    document.getElementById("flag_inadaptee").style.display = 'block';
                    document.getElementById("flag_adaptee").style.display = 'none';
                }
            }

            document.getElementById('check_Q1').addEventListener('change', updateDisplay);
            document.getElementById('check_Q2').addEventListener('change', updateDisplay);
            document.getElementById('check_Q3').addEventListener('change', updateDisplay);
            document.getElementById('check_Q4').addEventListener('change', updateDisplay);
            document.getElementById('check_Q5').addEventListener('change', updateDisplay);
            document.getElementById('check_Q6').addEventListener('change', updateDisplay);
        </script>

        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_handling_without_assistance_charge_informations',  { 'id': idEvaluateur, 'id2': idSituation }) }}">{% trans %}Revenir en arrière{% endtrans %}</a>
            <!--<a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance',  { 'id': idEvaluateur, 'id2': idSituation }) }}" >Continuer</a>-->
            {{ form_widget(form.valider, {'attr': {'class': 'button3_right'}} ) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}