{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div class="row">
            <h1>{% trans %}Repérer{% endtrans %}</h1>
            <h1>></h1>
            <h1>{% trans %}Hiérarchiser{% endtrans %}</h1>
            <h1>></h1>
            <h1 class="mauve">{% trans %}Évaluer{% endtrans %}</h1>
        </div>
        <div>
            <h1>{% trans %}Manutention Manuelle de charge - Manutention manuelle avec aide à la manutention{% endtrans %}</h1>
            <p>{% trans %}Tableau récapitulatif des charges :{% endtrans %}</p>
            <table class="table table-striped table-hover table-light">
                <thead>
                    <tr>
                        <th scope="col">{% trans %}N°{% endtrans %}</th>
                        <th scope="col">{% trans %}Type manutention{% endtrans %}</th>
                        <th scope="col">{% trans %}Masse (kg){% endtrans %}</th>
                        <th scope="col">{% trans %}Force initiale (en daN){% endtrans %}</th>
                        <th scope="col">{% trans %}Force de maintien(en daN){% endtrans %}</th>
                        <th scope="col">{% trans %}Fréquence{% endtrans %}</th>
                        <!--<th scope="col">Nb charge similaire</th>-->
                        <th scope="col" colspan="2">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for charge in charges %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            {{ charge.PTManutentionType | capitalize  }}
                        </td>
                        <td>
                            {{ charge.poidsCharge }}
                        </td>
                        <td>
                            {{ charge.forceInitiale }}
                        </td>
                        <td>
                            {{ charge.forceMaintien }}
                        </td>
                        <td>
                            {{ charge.PTFrequence }}
                        </td>
                        <td>
                            {% if charge.PTManutentionType == "lit" %}
                                {% set type = 1 %}
                            {% elseif charge.PTManutentionType == "transpalette" %}
                                {% set type = 2 %}
                            {% else %}
                                {% set type = 3 %}
                            {% endif %}
                            <a class="navbar-brand" href="{{ path('adept_NFX35109_handling_with_assistance_edit_charge', { 'id': idEvaluation, 'id2': charge.id, 'type': type }) }}">
                                <img src="/images/edit.png" alt="icon editer" id="icon_edit" class="icon_click">
                            </a>
                        </td>
                        <td>
                            <a class="navbar-brand" href="{{ path('adept_NFX35109_handling_with_assistance_delete_charge', { 'id': idEvaluation, 'id2': charge.id }) }}">
                                <img src="/images/delete.png" alt="icon supprimer" id="icon_delete" class="icon_click">
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="11">
                            <a class="a_adept center" href="{{ path('adept_NFX35109_handling_with_assistance_charge_type',  { 'id': idEvaluation }) }}">{% trans %}Ajouter un pousser/tirer{% endtrans %}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_manutention_type',  { 'id': idEvaluation }) }}">{% trans %}Revenir en arrière{% endtrans %}</a>
            {% if charges | length == 0 %}
                <a id="button_continue" class="button_adept_inactif">{% trans %}Continuer{% endtrans %}</a>
            {% else %}
                <a id="button_continue" class="button3_right" href="{{ path('adept_NFX35109_handling_with_assistance_constraints',  { 'id': idEvaluation }) }}">{% trans %}Continuer{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}