{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            <div class="row">
                <h1>Réperer</h1>
                <h1>></h1>
                <h1>Hiérarchiser</h1>
                <h1>></h1>
                <h1 class="mauve">Évaluer</h1>
            </div>
            <h1>Manutention Manuelle de charge - Résumé de la charge</h1>

            <hr>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <h5>Les conditions favorables</h5>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Valeur</th>
                                <th scope="col">Commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="pos_poids">
                                <td>
                                    Poids de la charge
                                </td>
                                <td>
                                    {{ charge.poidsCharge }} kg
                                </td>
                                <td class="resume_green">
                                    Le poids de la charge est acceptable
                                </td>
                            </tr>
                            <tr id="positif_poids">
                                <td>
                                    Poids de la charge
                                </td>
                                <td>
                                    {{ charge.poidsCharge }} kg
                                </td>
                                <td class="resume_green">
                                    Le poids de la charge est acceptable
                                </td>
                            </tr>
                            <tr id="positif_distance">
                                <td>
                                    Transport de la charge
                                </td>
                                <td>
                                    {{ charge.distanceTransportCharge }} m
                                </td>
                                <td class="resume_green">
                                    La distance est acceptable
                                </td>
                            </tr>
                            <tr id="positif_hauteur_prise">
                                <td>
                                    Hauteur de prise
                                </td>
                                <td>
                                    {{ charge.priseHauteur }} m
                                </td>
                                <td class="resume_green">
                                    La hauteur est acceptable
                                </td>
                            </tr>
                            <tr id="positif_profondeur_prise">
                                <td>
                                    Profondeur de prise
                                </td>
                                <td>
                                    {{ charge.priseProfondeur }} m
                                </td>
                                <td class="resume_green">
                                    La profondeur est acceptable
                                </td>
                            </tr>
                            <tr id="positif_hauteur_depose">
                                <td>
                                    Hauteur de dépose
                                </td>
                                <td>
                                    {{ charge.deposeHauteur }} m
                                </td>
                                <td class="resume_green">
                                    La hauteur est acceptable
                                </td>
                            </tr>
                            <tr id="positif_profondeur_depose">
                                <td>
                                    Profondeur de dépose
                                </td>
                                <td>
                                    {{ charge.deposeProfondeur }} m
                                </td>
                                <td class="resume_green">
                                    La profondeur est acceptable
                                </td>
                            </tr>
                            <tr id="positif_contraintes_execution">
                                <td>
                                    Contraintes d'exécution
                                </td>
                                <td>
                                    0
                                </td>
                                <td class="resume_green">
                                    Aucune contrainte d'exécution de la tâche
                                </td>
                            </tr>
                            <tr id="positif_contraintes_environnement">
                                <td>
                                    Contraintes d'environnement
                                </td>
                                <td>
                                    0
                                </td>
                                <td class="resume_green">
                                    Aucune contrainte d'environnement de la tâche
                                </td>
                            </tr>
                            <tr id="positif_contraintes_organisation">
                                <td>
                                    Contraintes d'organisation
                                </td>
                                <td>
                                    0
                                </td>
                                <td class="resume_green">
                                    Aucune contrainte d'organisation de la tâche
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <h5>Les points à améliorer</h5>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Valeur</th>
                                <th scope="col">Commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="negatif_poids">
                                <td>Poids de la charge</td>
                                <td>{{ charge.poidsCharge }} kg</td>
                                <td class="resume_red">Le poids de la charge devrait être inférieure ou égale à 7.3kg.</td>
                            </tr>
                            <tr id="negatif_distance">
                                <td>Transport de la charge</td>
                                <td>{{ charge.distanceTransportCharge }} m</td>
                                <td class="resume_red">La distance devrait être inférieure ou égale à 2m.</td>
                            </tr>
                            <tr id="negatif_hauteur_prise">
                                <td>Hauteur de prise</td>
                                <td>{{ charge.priseHauteur }}</td>
                                <td class="resume_red">La hauteur devrait être comprise entre 0,75m et 1,10m.</td>
                            </tr>
                            <tr id="negatif_profondeur_prise">
                                <td>Profondeur de prise</td>
                                <td>{{ charge.priseProfondeur }} m</td>
                                <td class="resume_red">La profondeur devrait être inférieure à 0,40 cm.</td>
                            </tr>
                            <tr id="negatif_hauteur_depose">
                                <td>Hauteur de dépose</td>
                                <td>{{ charge.deposeHauteur }}</td>
                                <td class="resume_red">La hauteur devrait être comprise entre 0,75m et 1,10m.</td>
                            </tr>
                            <tr id="negatif_profondeur_depose">
                                <td>Profondeur de dépose</td>
                                <td>{{ charge.deposeProfondeur }} m</td>
                                <td class="resume_red">La profondeur devrait être inférieure à 0,40 cm.</td>
                            </tr>
                            <tr id="negatif_contraintes_execution">
                                <td>Contraintes d'exécution</td>
                                <td>5</td>
                                <td class="resume_red">Sans poignées ou poignées inadaptées.
                                <br>
                                profondeur de prise > 0.40m <br>
                                hors zone d'atteinte <br>
                                une ou plusieurs contraintes concernant la posture/position du corps <br>
                                charge instable
                                 </td>
                            </tr>
                            <tr id="negatif_contraintes_environnement">
                                <td>Contraintes d'environnement</td>
                                <td>3</td>
                                <td class="resume_red">Contraintes thermiques <br>
                                Contraintes acoustiques <br>
                                Espaces inadéquats pour manoeuvrer</td>
                            </tr>
                            <tr id="negatif_contraintes_organisation">
                                <td>Contraintes d'organisation</td>
                                <td>1</td>
                                <td class="resume_red">Contraintes de temps</td>
                            </tr>
                        </tbody>
                    </table>
                    <p id="texte_penalisant">Les facteurs qui vous pénalisent le plus sont :</p>
                    <p class="mauve" id="texte_hauteur_prise"> - Hauteur de prise</p>
                    <p class="mauve" id="texte_hauteur_depose"> - Hauteur de dépose</p>
                </div>
            </div>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_handling_without_assistance_resume',  { 'id': idEvaluation }) }}" >Revenir en arrière</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance_charge_informations',  { 'id': idEvaluation }) }}" >Modifier</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance_resume',  { 'id': idEvaluation }) }}" >Supprimer</a>
        </div>

        <script>
            document.getElementById("pos_poids").style.visibility = "collapse";
            document.getElementById("positif_poids").style.visibility = "collapse";
            document.getElementById("positif_distance").style.visibility = "collapse";
            document.getElementById("positif_hauteur_prise").style.visibility = "collapse";
            document.getElementById("positif_profondeur_prise").style.visibility = "collapse";
            document.getElementById("positif_hauteur_depose").style.visibility = "collapse";
            document.getElementById("positif_profondeur_depose").style.visibility = "collapse";
            document.getElementById("positif_contraintes_execution").style.visibility = "collapse";
            document.getElementById("positif_contraintes_environnement").style.visibility = "collapse";
            document.getElementById("positif_contraintes_organisation").style.visibility = "collapse";

            document.getElementById("negatif_poids").style.visibility = "collapse";
            document.getElementById("negatif_distance").style.visibility = "collapse";
            document.getElementById("negatif_hauteur_prise").style.visibility = "collapse";
            document.getElementById("negatif_profondeur_prise").style.visibility = "collapse";
            document.getElementById("negatif_hauteur_depose").style.visibility = "collapse";
            document.getElementById("negatif_profondeur_depose").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_execution").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_environnement").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_organisation").style.visibility = "collapse";

            document.getElementById("texte_penalisant").style.visibility = "collapse";
            document.getElementById("texte_hauteur_prise").style.visibility = "collapse";
            document.getElementById("texte_hauteur_depose").style.visibility = "collapse";

            if({{ charge.poidsCharge }} <= 6.37){
                document.getElementById("positif_poids").style.visibility = "visible";
            } else {
                document.getElementById("negatif_poids").style.visibility = "visible";
            }

            if({{ charge.distanceTransportCharge }} <= 2){
                document.getElementById("positif_distance").style.visibility = "visible";
            } else {
                document.getElementById("negatif_distance").style.visibility = "visible";
            }

            if(0.75 <= {{ charge.priseHauteur }} && {{ charge.deposeHauteur }} <= 1.1){
                document.getElementById("positif_hauteur_prise").style.visibility = "visible";
            } else {
                document.getElementById("negatif_hauteur_prise").style.visibility = "visible";
            }

            if({{ charge.priseProfondeur }} <= 0.4){
                document.getElementById("positif_profondeur_prise").style.visibility = "visible";
            } else {
                document.getElementById("negatif_profondeur_prise").style.visibility = "visible";
            }

            if(0.75 <= {{ charge.deposeHauteur }} && {{ charge.deposeHauteur }} <= 1.1){
                document.getElementById("positif_hauteur_depose").style.visibility = "visible";
            } else {
                document.getElementById("negatif_hauteur_depose").style.visibility = "visible";
            }

            if({{ charge.deposeProfondeur }} <= 0.4){
                document.getElementById("positif_profondeur_depose").style.visibility = "visible";
            } else {
                document.getElementById("negatif_profondeur_depose").style.visibility = "visible";
            }

            document.getElementById("negatif_contraintes_execution").style.visibility = "visible";
            document.getElementById("negatif_contraintes_environnement").style.visibility = "visible";
            document.getElementById("negatif_contraintes_organisation").style.visibility = "visible";

            //document.getElementById("pos_poids").style.visibility = "visible";
        </script>
    </div>
{% endblock %}