{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div class="row">
            {{ form_start(form) }}
            <div class="row">
                <h1>{% trans %}Repérer{% endtrans %}</h1>
                <h1>></h1>
                <h1>{% trans %}Hiérarchiser{% endtrans %}</h1>
                <h1>></h1>
                <h1 class="mauve">{% trans %}Évaluer{% endtrans %}</h1>
            </div>
            <h1>{% trans %}Manutention Manuelle de charge - Manutention manuelle sans aide à la manutention{% endtrans %}</h1>
            <p id="label_prise_charge" class="mauve">{% trans %}Prise de la charge{% endtrans %}</p>
            <p id="label_deplacement_charge" class="mauve">{% trans %}Déplacement de la charge{% endtrans %}</p>
            <p id="label_depose_charge" class="mauve">{% trans %}Dépose de la charge{% endtrans %}</p>

            <!-- Animation icon MM sans aide à la manutention -->
            <div id="prise_charge" class="fixe_largeur_500">
                <div class="card">
                    <div class="card_header_animation card_header">
                        <h5>{% trans %}Prise de la charge{% endtrans %}</h5>
                    </div>
                    <div class="card-body">
                        <p class="text_margin_right p_red" id="alert_hauteur">{% trans %}La hauteur de prise est inacceptable{% endtrans %}</p>
                        <p class="text_margin_right p_red" id="alert_transport">{% trans %}La charge est transportée a une main{% endtrans %}</p>
                        <div class="row">
                            <p class="text_margin_right p_black">{% trans %}Masse (en kg){% endtrans %}</p>
                            {{ form_widget(form.poids_charge, {'attr': {'class': 'form_control_40', 'placeholder': 'En kilogramme...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right p_black">{% trans %}Hauteur prise (en m){% endtrans %}</p>
                            {{ form_widget(form.prise_hauteur, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right p_black">{% trans %}Profondeur prise (en m){% endtrans %}</p>
                            {{ form_widget(form.prise_profondeur, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right p_black">{% trans %}Transport de charge{% endtrans %}</p>
                            {{ form_widget(form.transport_charge, {'attr': {'class': 'custom_select form_control_40', 'id': 'input_transport_charge'}} ) }}
                        </div>
                        <div class="group_button">
                            <a href="{{ path('adept_NFX35109_handling_without_assistance',  { 'id': idEvaluation }) }}" class="button3_left button_adept_ocre">Annuler</a>
                            <div class="button3_right button_adept_ocre" onclick="myMove()">{% trans %}Poursuivre{% endtrans %}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="deplacement_charge" class="fixe_largeur_500">
                <div class="card">
                    <div class="card_header_animation card_header">
                        <h5>{% trans %}Déplacement de la charge{% endtrans %}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p class="text_margin_right p_black">{% trans %}Déplacement (en m){% endtrans %}</p>
                            {{ form_widget(form.distance_transport_charge, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="group_button">
                            <div class="button3_left button_adept_ocre" onclick="restart()">{% trans %}Annuler{% endtrans %}</div>
                            <div class="button3_right button_adept_ocre" onclick="myMove2()">{% trans %}Valider{% endtrans %}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="depose_charge" class="fixe_largeur_500">
                <div class="card">
                    <div class="card_header_animation card_header">
                        <h5>{% trans %}Dépose de la charge{% endtrans %}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p class="text_margin_right p_black">{% trans %}Hauteur dépose (en m){% endtrans %}</p>
                            {{ form_widget(form.depose_hauteur, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right p_black">{% trans %}Profondeur dépose (en m){% endtrans %}</p>
                            {{ form_widget(form.depose_profondeur, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="group_button">
                            <div class="button3_left button_adept_ocre" onclick="myMove()">{% trans %}Annuler{% endtrans %}</div>
                            {{ form_widget(form.valider, {'attr': {'class': 'button3_right button_adept_ocre'}} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="container_MM_sans_aide_new_charge">
                <div id="animation_MM_sans_aide_new_charge" class="anim_charge">
                    <img src="/images/icon_MM_sans_aide3.png" alt="icon MM sans aide" id="Icon_MMSA_anim_1">
                </div>
            </div>

            {{ form_end(form) }}

            <!-- Animation icon MM sans aide à la manutention - Nouvelle Charge - Etape 1 -->
            <script>
                var elem = document.getElementById("animation_MM_sans_aide_new_charge");
                //elem.style.top = -400 + 'px';
                document.getElementById("label_deplacement_charge").style.display = "none";
                document.getElementById("deplacement_charge").style.display = "none";
                document.getElementById("label_depose_charge").style.display = "none";
                document.getElementById("depose_charge").style.display = "none";
                var id = null;

                document.getElementById("alert_hauteur").style.display = "none";
                document.getElementById("alert_transport").style.display = "none";

                function checkTransport(){
                    {% if form.transport_charge == "Une main" %}
                        document.getElementById("alert_transport").style.display = "block";
                    {% else %}
                        document.getElementById("alert_transport").style.display = "none";
                    {% endif %}
                }
                document.getElementById('input_transport_charge').addEventListener('change', checkTransport);

                function myMove() {
                    var elem = document.getElementById("animation_MM_sans_aide_new_charge");
                    document.getElementById("animation_MM_sans_aide_new_charge").classList.add("return_image");
                    document.getElementById("label_prise_charge").style.display = "none";
                    document.getElementById("prise_charge").style.display = "none";
                    document.getElementById("label_deplacement_charge").style.display = "block";
                    document.getElementById("deplacement_charge").style.display = "block";
                    document.getElementById("label_depose_charge").style.display = "none";
                    document.getElementById("depose_charge").style.display = "none";

                    /*var cadre = document.getElementById("deplacement_charge");
                    cadre.style.left = 100 + 'px';*/

                    var pos = 0;
                    clearInterval(id);
                    id = setInterval(frame, 10);
                    function frame() {
                        if (pos == 300) {
                            clearInterval(id);
                        } else {
                            pos++;
                            elem.style.left = pos + 'px'; 
                        }
                    }
                }

                function myMove2() {
                    var elem = document.getElementById("animation_MM_sans_aide_new_charge");
                    document.getElementById("label_deplacement_charge").style.display = "none";
                    document.getElementById("deplacement_charge").style.display = "none";
                    document.getElementById("label_depose_charge").style.display = "block";
                    document.getElementById("depose_charge").style.display = "block";
                    
                    /*var cadre = document.getElementById("depose_charge");
                    cadre.style.left = -200 + 'px';*/

                    var pos = 300;
                    clearInterval(id);
                    id = setInterval(frame, 10);
                    function frame() {
                        if (pos == 900) {
                            clearInterval(id);
                        } else {
                            pos++;
                            elem.style.left = pos + 'px';
                        }
                    }
                }

                function restart() {
                    var elem = document.getElementById("animation_MM_sans_aide_new_charge");
                    document.getElementById("animation_MM_sans_aide_new_charge").classList.remove("return_image");
                    document.getElementById("label_prise_charge").style.display = "block";
                    document.getElementById("prise_charge").style.display = "block";
                    document.getElementById("label_deplacement_charge").style.display = "none";
                    document.getElementById("deplacement_charge").style.display = "none";
                    document.getElementById("label_depose_charge").style.display = "none";
                    document.getElementById("depose_charge").style.display = "none";
                    elem.style.left = 0 + 'px';
                }
            </script>
        </div>
    </div>
{% endblock %}