{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            <div class="row">
                <h1>{% trans %}Repérer{% endtrans %}</h1>
                <h1>></h1>
                <h1>{% trans %}Hiérarchiser{% endtrans %}</h1>
                <h1>></h1>
                <h1 class="mauve">{% trans %}Évaluer{% endtrans %}</h1>
            </div>
            <h1>{% trans %}Manutention Manuelle de charge - Résumé de la charge{% endtrans %}</h1>

            <hr>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <h5>{% trans %}Les conditions favorables{% endtrans %}</h5>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">{% trans %}Intitulé{% endtrans %}</th>
                                <th scope="col">{% trans %}Valeur{% endtrans %}</th>
                                <th scope="col">{% trans %}Commentaire{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if charge.poidsCharge <= charge.masseCorrigee %}
                                <tr id="positif_poids">
                                    <td>{% trans %}Poids de la charge{% endtrans %}</td>
                                    <td>{{ charge.poidsCharge }} kg</td>
                                    <td class="resume_green">{% trans %}Le poids de la charge est acceptable{% endtrans %}</td>
                                </tr>
                            {% endif %}
                            <tr id="positif_distance">
                                <td>{% trans %}Transport de la charge{% endtrans %}</td>
                                <td>{{ charge.distanceTransportCharge }} m</td>
                                <td class="resume_green">{% trans %}La distance est acceptable{% endtrans %}</td>
                            </tr>
                            <tr id="positif_hauteur_prise">
                                <td>{% trans %}Hauteur de prise{% endtrans %}</td>
                                <td>{{ charge.priseHauteur }} m</td>
                                <td class="resume_green">{% trans %}La hauteur est acceptable{% endtrans %}</td>
                            </tr>
                            <tr id="positif_profondeur_prise">
                                <td>{% trans %}Profondeur de prise{% endtrans %}</td>
                                <td>{{ charge.priseProfondeur }} m</td>
                                <td class="resume_green">{% trans %}La profondeur est acceptable{% endtrans %}</td>
                            </tr>
                            <tr id="positif_hauteur_depose">
                                <td>{% trans %}Hauteur de dépose{% endtrans %}</td>
                                <td>{{ charge.deposeHauteur }} m</td>
                                <td class="resume_green">{% trans %}La hauteur est acceptable{% endtrans %}</td>
                            </tr>
                            <tr id="positif_profondeur_depose">
                                <td>{% trans %}Profondeur de dépose{% endtrans %}</td>
                                <td>{{ charge.deposeProfondeur }} m</td>
                                <td class="resume_green">{% trans %}La profondeur est acceptable{% endtrans %}</td>
                            </tr>
                            <tr id="positif_contraintes_execution">
                                <td>{% trans %}Contraintes d'exécution{% endtrans %}</td>
                                <td>0</td>
                                <td class="resume_green">{% trans %}Aucune contrainte d'exécution de la tâche{% endtrans %}</td>
                            </tr>
                            <tr id="positif_contraintes_environnement">
                                <td>{% trans %}Contraintes d'environnement{% endtrans %}</td>
                                <td>0</td>
                                <td class="resume_green">{% trans %}Aucune contrainte d'environnement de la tâche{% endtrans %}</td>
                            </tr>
                            <tr id="positif_contraintes_organisation">
                                <td>{% trans %}Contraintes d'organisation{% endtrans %}</td>
                                <td>0</td>
                                <td class="resume_green">{% trans %}Aucune contrainte d'organisation de la tâche{% endtrans %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <h5>Les points à améliorer</h5>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">{% trans %}Intitulé{% endtrans %}</th>
                                <th scope="col">{% trans %}Valeur{% endtrans %}</th>
                                <th scope="col">{% trans %}Commentaire{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if charge.poidsCharge > charge.masseCorrigee %}
                                <tr id="negatif_poids">
                                    <td>{% trans %}Poids de la charge{% endtrans %}</td>
                                    <td>{{ charge.poidsCharge }} kg</td>
                                    <td class="resume_red">{% trans %}Le poids de la charge devrait être inférieure ou égale à{% endtrans %} {{ charge.masseCorrigee }}kg.</td>
                                </tr>
                            {% endif %}
                            
                            <tr id="negatif_distance">
                                <td>{% trans %}Transport de la charge{% endtrans %}</td>
                                <td>{{ charge.distanceTransportCharge }} m</td>
                                <td class="resume_red">{% trans %}La distance devrait être inférieure ou égale à 2m.{% endtrans %}</td>
                            </tr>
                            <tr id="negatif_hauteur_prise">
                                <td>{% trans %}Hauteur de prise{% endtrans %}</td>
                                <td>{{ charge.priseHauteur }} m</td>
                                <td class="resume_red">{% trans %}La hauteur devrait être comprise entre 0,75m et 1,10m.{% endtrans %}</td>
                            </tr>
                            <tr id="negatif_profondeur_prise">
                                <td>{% trans %}Profondeur de prise{% endtrans %}</td>
                                <td>{{ charge.priseProfondeur }} m</td>
                                <td class="resume_red">{% trans %}La profondeur devrait être inférieure à 0,40 cm.{% endtrans %}</td>
                            </tr>
                            <tr id="negatif_hauteur_depose">
                                <td>{% trans %}Hauteur de dépose{% endtrans %}</td>
                                <td>{{ charge.deposeHauteur }}</td>
                                <td class="resume_red">{% trans %}La hauteur devrait être comprise entre 0,75m et 1,10m.{% endtrans %}</td>
                            </tr>
                            <tr id="negatif_profondeur_depose">
                                <td>{% trans %}Profondeur de dépose{% endtrans %}</td>
                                <td>{{ charge.deposeProfondeur }} m</td>
                                <td class="resume_red">{% trans %}La profondeur devrait être inférieure à 0,40 cm.{% endtrans %}</td>
                            </tr>
                            <tr id="negatif_contraintes_execution">
                                <td>{% trans %}Contraintes d'exécution{% endtrans %}</td>
                                <td>{{ nbContraintesExecution }}</td>
                                <td class="resume_red">
                                    {% if charge.contraintePoigneesInadaptees == true %}
                                        {% trans %}Sans poignées ou poignées inadaptées.{% endtrans %}<br>
                                    {% endif %}
                                    {% if charge.contrainteTorsionTronc == true %}
                                        {% trans %}Torsion du tronc.{% endtrans %}<br>
                                    {% endif %}
                                    {% if charge.contrainteProfondeurPrise == true %}
                                        {% trans %}Profondeur de prise > 0.40m.{% endtrans %}<br>
                                    {% endif %}
                                    {% if charge.contrainteHorsZoneAtteinte == true %}
                                        {% trans %}Hors zone d'atteinte.{% endtrans %}<br>
                                    {% endif %}
                                    {% if charge.contraintePosture == true %}
                                        {% trans %}Une ou plusieurs contraintes concernant la posture/position du corps.{% endtrans %}<br>
                                    {% endif %}
                                    {% if charge.contrainteChargeInstable == true %}
                                        {% trans %}Charge instable.{% endtrans %}<br>
                                    {% endif %}
                                    {% if charge.contrainteVisibiliteLimitee == true %}
                                        {% trans %}Visibilité limitée.{% endtrans %}<br>
                                    {% endif %}
                                    {% if charge.contrainteRoulettesInadequates == true %}
                                        {% trans %}Roulettes inadéquates.{% endtrans %}<br>
                                    {% endif %}
                                    {% if charge.contrainteAbsenceFrein == true %}
                                        {% trans %}Absence de frein.{% endtrans %}<br>
                                    {% endif %}
                                 </td>
                            </tr>
                            <tr id="negatif_contraintes_environnement">
                                <td>{% trans %}Contraintes d'environnement{% endtrans %}</td>
                                <td>{{ nbContraintesEnvironnement }}</td>
                                <td class="resume_red">
                                    {% if evaluationNFX.contraintesThermiques == true %}
                                        {% trans %}Contraintes thermiques.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contraintesAcoustiques == true %}
                                        {% trans %}Contraintes acoustiques.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contraintesLumineuses == true %}
                                        {% trans %}Contraintes lumineuses.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteVibrations == true %}
                                        {% trans %}Vibrations.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contraintePoussieres == true %}
                                        {% trans %}Poussières.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteSolsDegrades == true %}
                                        {% trans %}Sols dégradés.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteEncombrement == true %}
                                        {% trans %}Encombrement.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteObstacles == true %}
                                        {% trans %}Obstacles.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteEspacesInadequats == true %}
                                        {% trans %}Espaces inadequats.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteEtatChariot == true %}
                                        {% trans %}État du chariot.{% endtrans %}<br>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr id="negatif_contraintes_organisation">
                                <td>{% trans %}Contraintes d'organisation{% endtrans %}</td>
                                <td>{{ nbContraintesOrganisation }}</td>
                                <td class="resume_red">
                                    {% if evaluationNFX.contrainteTemps == true %}
                                        {% trans %}Contraintes de temps.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteMargeManoeuvreReduite == true %}
                                        {% trans %}Marge de Manoeuvre réduite.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteMultipliciteTaches == true %}
                                        {% trans %}Multiplicité des tâches.{% endtrans %}<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteExigencesQualite == true %}
                                       {% trans %} Exigences qualité.{% endtrans %}<br>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% if charge.coefficientCorrection2 != 1 %}
                        <p>{% trans %}Les facteurs qui vous pénalisent le plus sont :{% endtrans %}</p>
                        <p class="mauve"> - {{ charge.intituleCoefficientCorrection1 }} : {{ charge.coefficientCorrection1 }}</p>
                        <p class="mauve"> - {{ charge.intituleCoefficientCorrection2 }} : {{ charge.coefficientCorrection2 }}</p>
                    {% elseif charge.coefficientCorrection1 != 1%}
                        <p>{% trans %}Le facteur qui vous pénalise le plus est :{% endtrans %}</p>
                        <p class="mauve"> - {{ charge.intituleCoefficientCorrection1 }} : {{ charge.coefficientCorrection1 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_handling_without_assistance_resume',  { 'id': idEvaluation }) }}">{% trans %}Revenir en arrière{% endtrans %}</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance_edit_charge', { 'id': idEvaluation, 'id2': charge.id }) }}">{% trans %}Modifier{% endtrans %}</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance_resume',  { 'id': idEvaluation }) }}">{% trans %}Supprimer{% endtrans %}</a>
        </div>

        <script>
            document.getElementById("positif_distance").style.visibility = "collapse";
            document.getElementById("positif_hauteur_prise").style.visibility = "collapse";
            document.getElementById("positif_profondeur_prise").style.visibility = "collapse";
            document.getElementById("positif_hauteur_depose").style.visibility = "collapse";
            document.getElementById("positif_profondeur_depose").style.visibility = "collapse";
            document.getElementById("positif_contraintes_execution").style.visibility = "collapse";
            document.getElementById("positif_contraintes_environnement").style.visibility = "collapse";
            document.getElementById("positif_contraintes_organisation").style.visibility = "collapse";

            document.getElementById("negatif_distance").style.visibility = "collapse";
            document.getElementById("negatif_hauteur_prise").style.visibility = "collapse";
            document.getElementById("negatif_profondeur_prise").style.visibility = "collapse";
            document.getElementById("negatif_hauteur_depose").style.visibility = "collapse";
            document.getElementById("negatif_profondeur_depose").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_execution").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_environnement").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_organisation").style.visibility = "collapse";

            if({{ charge.distanceTransportCharge }} <= 2){
                document.getElementById("positif_distance").style.visibility = "visible";
            } else {
                document.getElementById("negatif_distance").style.visibility = "visible";
            }

            if(0.75 <= {{ charge.priseHauteur }} && {{ charge.priseHauteur }} <= 1.1){
                document.getElementById("positif_hauteur_prise").style.visibility = "visible";
            } else {
                document.getElementById("negatif_hauteur_prise").style.visibility = "visible";
            }

            if({{ charge.priseProfondeur }} <= 0.4){
                document.getElementById("positif_profondeur_prise").style.visibility = "visible";
            } else {
                document.getElementById("negatif_profondeur_prise").style.visibility = "visible";
            }

            if(0.75 <= {{ charge.deposeHauteur }} && {{ charge.deposeHauteur }} <= 1.1){
                document.getElementById("positif_hauteur_depose").style.visibility = "visible";
            } else {
                document.getElementById("negatif_hauteur_depose").style.visibility = "visible";
            }

            if({{ charge.deposeProfondeur }} <= 0.4){
                document.getElementById("positif_profondeur_depose").style.visibility = "visible";
            } else {
                document.getElementById("negatif_profondeur_depose").style.visibility = "visible";
            }

            if({{ charge.contraintesExecution|length }} == 0 ){
                document.getElementById("positif_contraintes_execution").style.visibility = "visible";
            } else {
                document.getElementById("negatif_contraintes_execution").style.visibility = "visible";
            }

            if({{ evaluationNFX.contraintesEnvironnement|length }} == 0){
                document.getElementById("positif_contraintes_environnement").style.visibility = "visible";
            } else {
                document.getElementById("negatif_contraintes_environnement").style.visibility = "visible";
            }

            if({{ evaluationNFX.contraintesOrganisation|length }} == 0){
                document.getElementById("positif_contraintes_organisation").style.visibility = "visible";
            } else {
                document.getElementById("negatif_contraintes_organisation").style.visibility = "visible";
            }

            //document.getElementById("pos_poids").style.visibility = "visible";
        </script>
    </div>
{% endblock %}