{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            <div class="row">
                <h1>Repérer</h1>
                <h1>></h1>
                <h1>Hiérarchiser</h1>
                <h1>></h1>
                <h1 class="mauve">Évaluer</h1>
            </div>
            <h1>Manutention Manuelle de charge - Résumé de la charge</h1>

            <hr>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <h5>Les conditions favorables</h5>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Valeur</th>
                                <th scope="col">Commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if charge.poidsCharge <= charge.masseCorrigee %}
                                <tr id="positif_poids">
                                    <td>Poids de la charge</td>
                                    <td>{{ charge.poidsCharge }} kg</td>
                                    <td class="resume_green">Le poids de la charge est acceptable</td>
                                </tr>
                            {% endif %}
                            <tr id="positif_distance">
                                <td>
                                    Transport de la charge
                                </td>
                                <td>
                                    {{ charge.distanceTransportCharge }} m
                                </td>
                                <td class="resume_green">
                                    La distance est acceptable
                                </td>
                            </tr>
                            <tr id="positif_hauteur_prise">
                                <td>
                                    Hauteur de prise
                                </td>
                                <td>
                                    {{ charge.priseHauteur }} m
                                </td>
                                <td class="resume_green">
                                    La hauteur est acceptable
                                </td>
                            </tr>
                            <tr id="positif_profondeur_prise">
                                <td>
                                    Profondeur de prise
                                </td>
                                <td>
                                    {{ charge.priseProfondeur }} m
                                </td>
                                <td class="resume_green">
                                    La profondeur est acceptable
                                </td>
                            </tr>
                            <tr id="positif_hauteur_depose">
                                <td>
                                    Hauteur de dépose
                                </td>
                                <td>
                                    {{ charge.deposeHauteur }} m
                                </td>
                                <td class="resume_green">
                                    La hauteur est acceptable
                                </td>
                            </tr>
                            <tr id="positif_profondeur_depose">
                                <td>
                                    Profondeur de dépose
                                </td>
                                <td>
                                    {{ charge.deposeProfondeur }} m
                                </td>
                                <td class="resume_green">
                                    La profondeur est acceptable
                                </td>
                            </tr>
                            <tr id="positif_contraintes_execution">
                                <td>
                                    Contraintes d'exécution
                                </td>
                                <td>
                                    0
                                </td>
                                <td class="resume_green">
                                    Aucune contrainte d'exécution de la tâche
                                </td>
                            </tr>
                            <tr id="positif_contraintes_environnement">
                                <td>
                                    Contraintes d'environnement
                                </td>
                                <td>
                                    0
                                </td>
                                <td class="resume_green">
                                    Aucune contrainte d'environnement de la tâche
                                </td>
                            </tr>
                            <tr id="positif_contraintes_organisation">
                                <td>
                                    Contraintes d'organisation
                                </td>
                                <td>
                                    0
                                </td>
                                <td class="resume_green">
                                    Aucune contrainte d'organisation de la tâche
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <h5>Les points à améliorer</h5>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Valeur</th>
                                <th scope="col">Commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if charge.poidsCharge > charge.masseCorrigee %}
                                <tr id="negatif_poids">
                                    <td>Poids de la charge</td>
                                    <td>{{ charge.poidsCharge }} kg</td>
                                    <td class="resume_red">Le poids de la charge devrait être inférieure ou égale à {{ charge.masseCorrigee }}kg.</td>
                                </tr>
                            {% endif %}
                            
                            <tr id="negatif_distance">
                                <td>Transport de la charge</td>
                                <td>{{ charge.distanceTransportCharge }} m</td>
                                <td class="resume_red">La distance devrait être inférieure ou égale à 2m.</td>
                            </tr>
                            <tr id="negatif_hauteur_prise">
                                <td>Hauteur de prise</td>
                                <td>{{ charge.priseHauteur }}</td>
                                <td class="resume_red">La hauteur devrait être comprise entre 0,75m et 1,10m.</td>
                            </tr>
                            <tr id="negatif_profondeur_prise">
                                <td>Profondeur de prise</td>
                                <td>{{ charge.priseProfondeur }} m</td>
                                <td class="resume_red">La profondeur devrait être inférieure à 0,40 cm.</td>
                            </tr>
                            <tr id="negatif_hauteur_depose">
                                <td>Hauteur de dépose</td>
                                <td>{{ charge.deposeHauteur }}</td>
                                <td class="resume_red">La hauteur devrait être comprise entre 0,75m et 1,10m.</td>
                            </tr>
                            <tr id="negatif_profondeur_depose">
                                <td>Profondeur de dépose</td>
                                <td>{{ charge.deposeProfondeur }} m</td>
                                <td class="resume_red">La profondeur devrait être inférieure à 0,40 cm.</td>
                            </tr>
                            <tr id="negatif_contraintes_execution">
                                <td>Contraintes d'exécution</td>
                                <td>{{ nbContraintesExecution }}</td>
                                <td class="resume_red">
                                    {% if charge.contraintePoigneesInadaptees == true %}
                                        Sans poignées ou poignées inadaptées.<br>
                                    {% endif %}
                                    {% if charge.contrainteTorsionTronc == true %}
                                        Torsion du tronc.<br>
                                    {% endif %}
                                    {% if charge.contrainteProfondeurPrise == true %}
                                        Profondeur de prise > 0.40m.<br>
                                    {% endif %}
                                    {% if charge.contrainteHorsZoneAtteinte == true %}
                                        Hors zone d'atteinte.<br>
                                    {% endif %}
                                    {% if charge.contraintePosture == true %}
                                        Une ou plusieurs contraintes concernant la posture/position du corps.<br>
                                    {% endif %}
                                    {% if charge.contrainteChargeInstable == true %}
                                        Charge instable.<br>
                                    {% endif %}
                                    {% if charge.contrainteVisibiliteLimitee == true %}
                                        Visibilité limitée.<br>
                                    {% endif %}
                                    {% if charge.contrainteRoulettesInadequates == true %}
                                        Roulettes inadéquates.<br>
                                    {% endif %}
                                    {% if charge.contrainteAbsenceFrein == true %}
                                        Absence de frein.<br>
                                    {% endif %}
                                 </td>
                            </tr>
                            <tr id="negatif_contraintes_environnement">
                                <td>Contraintes d'environnement</td>
                                <td>{{ nbContraintesEnvironnement }}</td>
                                <td class="resume_red">
                                    {% if evaluationNFX.contraintesThermiques == true %}
                                        Contraintes thermiques.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contraintesAcoustiques == true %}
                                        Contraintes acoustiques.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contraintesLumineuses == true %}
                                        Contraintes lumineuses.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteVibrations == true %}
                                        Vibrations.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contraintePoussieres == true %}
                                        Poussières.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteSolsDegrades == true %}
                                        Sols dégradés.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteEncombrement == true %}
                                        Encombrement.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteObstacles == true %}
                                        Obstacles.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteEspacesInadequats == true %}
                                        Espaces inadequats.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteEtatChariot == true %}
                                        État du chariot.<br>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr id="negatif_contraintes_organisation">
                                <td>Contraintes d'organisation</td>
                                <td>{{ nbContraintesOrganisation }}</td>
                                <td class="resume_red">
                                    {% if evaluationNFX.contrainteTemps == true %}
                                        Contraintes de temps.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteMargeManoeuvreReduite == true %}
                                        Marge de Manoeuvre réduite.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteMultipliciteTaches == true %}
                                        Multiplicité des tâches.<br>
                                    {% endif %}
                                    {% if evaluationNFX.contrainteExigencesQualite == true %}
                                        Exigences qualité.<br>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% if charge.coefficientCorrection2 != 1 %}
                        <p>Les facteurs qui vous pénalisent le plus sont :</p>
                        <p class="mauve"> - {{ charge.intituleCoefficientCorrection1 }} : {{ charge.coefficientCorrection1 }}</p>
                        <p class="mauve"> - {{ charge.intituleCoefficientCorrection2 }} : {{ charge.coefficientCorrection2 }}</p>
                    {% elseif charge.coefficientCorrection1 != 1%}
                        <p>Le facteur qui vous pénalise le plus est :</p>
                        <p class="mauve"> - {{ charge.intituleCoefficientCorrection1 }} : {{ charge.coefficientCorrection1 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_handling_without_assistance_resume',  { 'id': idEvaluation }) }}" >Revenir en arrière</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance_charge_informations',  { 'id': idEvaluation }) }}" >Modifier</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_handling_without_assistance_resume',  { 'id': idEvaluation }) }}" >Supprimer</a>
        </div>

        <script>
            document.getElementById("positif_distance").style.visibility = "collapse";
            document.getElementById("positif_hauteur_prise").style.visibility = "collapse";
            document.getElementById("positif_profondeur_prise").style.visibility = "collapse";
            document.getElementById("positif_hauteur_depose").style.visibility = "collapse";
            document.getElementById("positif_profondeur_depose").style.visibility = "collapse";
            document.getElementById("positif_contraintes_execution").style.visibility = "collapse";
            document.getElementById("positif_contraintes_environnement").style.visibility = "collapse";
            document.getElementById("positif_contraintes_organisation").style.visibility = "collapse";

            document.getElementById("negatif_distance").style.visibility = "collapse";
            document.getElementById("negatif_hauteur_prise").style.visibility = "collapse";
            document.getElementById("negatif_profondeur_prise").style.visibility = "collapse";
            document.getElementById("negatif_hauteur_depose").style.visibility = "collapse";
            document.getElementById("negatif_profondeur_depose").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_execution").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_environnement").style.visibility = "collapse";
            document.getElementById("negatif_contraintes_organisation").style.visibility = "collapse";

            if({{ charge.distanceTransportCharge }} <= 2){
                document.getElementById("positif_distance").style.visibility = "visible";
            } else {
                document.getElementById("negatif_distance").style.visibility = "visible";
            }

            if(0.75 <= {{ charge.priseHauteur }} && {{ charge.deposeHauteur }} <= 1.1){
                document.getElementById("positif_hauteur_prise").style.visibility = "visible";
            } else {
                document.getElementById("negatif_hauteur_prise").style.visibility = "visible";
            }

            if({{ charge.priseProfondeur }} <= 0.4){
                document.getElementById("positif_profondeur_prise").style.visibility = "visible";
            } else {
                document.getElementById("negatif_profondeur_prise").style.visibility = "visible";
            }

            if(0.75 <= {{ charge.deposeHauteur }} && {{ charge.deposeHauteur }} <= 1.1){
                document.getElementById("positif_hauteur_depose").style.visibility = "visible";
            } else {
                document.getElementById("negatif_hauteur_depose").style.visibility = "visible";
            }

            if({{ charge.deposeProfondeur }} <= 0.4){
                document.getElementById("positif_profondeur_depose").style.visibility = "visible";
            } else {
                document.getElementById("negatif_profondeur_depose").style.visibility = "visible";
            }

            if({{ charge.contraintesExecution|length }} == 0 ){
                document.getElementById("positif_contraintes_execution").style.visibility = "visible";
            } else {
                document.getElementById("negatif_contraintes_execution").style.visibility = "visible";
            }

            if({{ evaluationNFX.contraintesEnvironnement|length }} == 0){
                document.getElementById("positif_contraintes_environnement").style.visibility = "visible";
            } else {
                document.getElementById("negatif_contraintes_environnement").style.visibility = "visible";
            }

            if({{ evaluationNFX.contraintesOrganisation|length }} == 0){
                document.getElementById("positif_contraintes_organisation").style.visibility = "visible";
            } else {
                document.getElementById("negatif_contraintes_organisation").style.visibility = "visible";
            }

            //document.getElementById("pos_poids").style.visibility = "visible";
        </script>
    </div>
{% endblock %}