{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div>
            {{ form_start(form) }}
            <h1>Manutention Manuelle de charge - Manutention manuelle sans aide à la manutention</h1>
            <p id="label_prise_charge" class="mauve">Prise de la charge</p>
            <p id="label_deplacement_charge" class="mauve">Déplacement de la charge</p>
            <p id="label_depose_charge" class="mauve">Dépose de la charge</p>

            <!-- Animation icon MM sans aide à la manutention -->
            <div id="prise_charge" class="fixe_largeur_500">
                <div class="card">
                    <div class="card_header_animation card_header">
                        <h5>Prise de la charge</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p class="text_margin_right p_black">Masse (en kg)</p>
                            {{ form_widget(form.poids_charge, {'attr': {'class': 'form_control_40', 'placeholder': 'En kilogramme...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right p_black">Hauteur prise (en m)</p>
                            {{ form_widget(form.prise_hauteur, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right p_black">Profondeur prise (en m)</p>
                            {{ form_widget(form.prise_profondeur, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right p_black">Transport de charge</p>
                            {{ form_widget(form.transport_charge, {'attr': {'class': 'custom_select form_control_40'}} ) }}
                            <!--<select class="custom_select form_control_40" id="input_sexe">
                                <option value="1">Une main</option>
                                <option value="2">Deux mains</option>
                            </select>-->
                        </div>
                        <div class="group_button">
                            <a href="{{ path('adept_NFX35109_handling_without_assistance',  { 'id': idEvaluateur, 'id2': idSituation }) }}" class="button3_left button_adept_ocre">Annuler</a>
                            <button class="button3_right button_adept_ocre" onclick="myMove()">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="deplacement_charge" class="fixe_largeur_500">
                <div class="card">
                    <div class="card_header_animation card_header">
                        <h5>Déplacement de la charge</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p class="text_margin_right p_black">Déplacement (en m)</p>
                            {{ form_widget(form.distance_transport_charge, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="group_button">
                            <button class="button3_right button_adept_ocre" onclick="restart()">Annuler</button>
                            <button class="button3_right button_adept_ocre" onclick="myMove2()">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="depose_charge" class="fixe_largeur_500">
                <div class="card">
                    <div class="card_header_animation card_header">
                        <h5>Dépose de la charge</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p class="text_margin_right p_black">Hauteur dépose (en m)</p>
                            {{ form_widget(form.depose_hauteur, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right p_black">Profondeur dépose (en m)</p>
                            {{ form_widget(form.depose_profondeur, {'attr': {'class': 'form_control_40', 'placeholder': 'En métre...'}} ) }}
                        </div>
                        <div class="group_button">
                            <button class="button3_left button_adept_ocre" onclick="myMove()">Annuler</button>
                            {{ form_widget(form.valider, {'attr': {'class': 'button_picture'}} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="container_MM_sans_aide_new_charge">
                <div id="animation_MM_sans_aide_new_charge">
                    <img src="/images/icon_MM_sans_aide3.png" alt="icon MM sans aide" id="Icon_MMSA_anim_1">
                </div>
            </div>

            {{ form_end(form) }}

            <!-- Animation icon MM sans aide à la manutention - Nouvelle Charge - Etape 1 -->
            <script>
                document.getElementById("label_deplacement_charge").style.display = "none";
                document.getElementById("deplacement_charge").style.display = "none";
                document.getElementById("label_depose_charge").style.display = "none";
                document.getElementById("depose_charge").style.display = "none";
                var id = null;
                function myMove() {
                    var elem = document.getElementById("animation_MM_sans_aide_new_charge");
                    document.getElementById("animation_MM_sans_aide_new_charge").classList.add("return_image");
                    document.getElementById("label_prise_charge").style.display = "none";
                    document.getElementById("prise_charge").style.display = "none";
                    document.getElementById("label_deplacement_charge").style.display = "block";
                    document.getElementById("deplacement_charge").style.display = "block";
                    document.getElementById("label_depose_charge").style.display = "none";
                    document.getElementById("depose_charge").style.display = "none";
                    var pos = 0;
                    clearInterval(id);
                    id = setInterval(frame, 10);
                    function frame() {
                        if (pos == 300) {
                            clearInterval(id);
                        } else {
                            pos++;
                            elem.style.left = pos + 'px'; 
                        }
                    }
                }

                function myMove2() {
                    var elem = document.getElementById("animation_MM_sans_aide_new_charge");
                    document.getElementById("label_deplacement_charge").style.display = "none";
                    document.getElementById("deplacement_charge").style.display = "none";
                    document.getElementById("label_depose_charge").style.display = "block";
                    document.getElementById("depose_charge").style.display = "block";
                    var pos = 300;
                    clearInterval(id);
                    id = setInterval(frame, 10);
                    function frame() {
                        if (pos == 900) {
                            clearInterval(id);
                        } else {
                            pos++;
                            elem.style.left = pos + 'px';
                        }
                    }
                }

                function restart() {
                    var elem = document.getElementById("animation_MM_sans_aide_new_charge");
                    document.getElementById("animation_MM_sans_aide_new_charge").classList.remove("return_image");
                    document.getElementById("label_prise_charge").style.display = "block";
                    document.getElementById("prise_charge").style.display = "block";
                    document.getElementById("label_deplacement_charge").style.display = "none";
                    document.getElementById("deplacement_charge").style.display = "none";
                    document.getElementById("label_depose_charge").style.display = "none";
                    document.getElementById("depose_charge").style.display = "none";
                    elem.style.left = 0 + 'px';
                }
            </script>
            
        </div>
    </div>
{% endblock %}