{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        {{ form_start(form) }}
        <div>
            <h1>Manutention Manuelle de charge - Opérateur</h1>
            <div class="container_input">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <h2>Opérateur :</h2>
                        
                        <div class="row">
                            <p class="text_margin_right">Âge :</p>
                            <!--<input type="text" class="form_control_60" aria-label="age" aria-describedby="basic-addon2" placeholder="Préciser...">-->
                            {{ form_widget(form.age, {'attr': {'class': 'form_control_60', 'placeholder': 'Préciser...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right">Sexe :</p>
                            {{ form_widget(form.sexe, {'attr': {'class': 'custom_select form_control_60', 'id': 'input_sexe'}} ) }}
                            
                            <!--<select class="custom_select form_control_60" id="input_sexe">
                                <option value="1">Masculin</option>
                                <option value="2">Féminin</option>
                            </select>-->
                        </div>
                        <div class="row" id="row_enceinte">
                            <p class="text_margin_right">Enceinte :</p>

                            <div class="switch">
                                <input type="checkbox" id="check_enceinte" value="enceinte">
                                <label for="check_enceinte" data-off="Non" data-on="Oui"></label>
                            </div>
                        </div>
                        <script>
                            document.getElementById("row_enceinte").style.display = "none";

                            function AlertePregnant(){
                                /* Si c'est une femme et qu'elle est enceinte */
                                if (document.getElementById('input_sexe').value === '2'){
                                    if (document.getElementById('check_enceinte').checked) {
                                        alert("Pour les femmes enceintes effectuant des levages réguliers, une valeur supérieure à 5kg est déconseillée !");
                                    }
                                }
                            }

                            document.getElementById('check_enceinte').addEventListener('change', AlertePregnant);

                            function displayEnceinte(){
                                if (document.getElementById('input_sexe').value === '2'){
                                    /* Afficher la checkbox enceinte */
                                    document.getElementById('row_enceinte').style.display = 'block';
                                } else {
                                    /* Masquer la checkbox enceinte */
                                    document.getElementById('row_enceinte').style.display = 'none';
                                    document.getElementById('check_enceinte').checked = false;
                                }
                            }
                            document.getElementById('input_sexe').addEventListener('change', displayEnceinte);
                        </script>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 hr_left">
                        <div class="row">
                            <p class="text_margin_right">Latéralité :</p>
                            {{ form_widget(form.lateralite, {'attr': {'class': 'custom_select form_control_60', 'id': 'input_main'}} ) }}
                            <!--<select class="custom_select form_control_60" id="input_main">
                                <option value="1">Droitier</option>
                                <option value="2">Gaucher</option>
                            </select>-->
                        </div>
                        <div class="row">
                            <p class="text_margin_right">Formation :</p>
                            <!--<input type="text" class="form_control_60" aria-label="Formation" aria-describedby="basic-addon2" placeholder="Intitulé du poste...">-->
                            {{ form_widget(form.Formation, {'attr': {'class': 'form_control_60', 'placeholder': 'Intitulé du poste...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right">Ancienneté au poste :</p>
                            <!--<input type="text" class="form_control_60" aria-label="exp_poste" aria-describedby="basic-addon2" placeholder="En année...">-->
                            {{ form_widget(form.Anciennete_poste, {'attr': {'class': 'form_control_60', 'placeholder': 'En année...'}} ) }}
                        </div>
                        <div class="row">
                            <p class="text_margin_right">Ancienneté en entreprise :</p>
                            <!--<input type="text" class="form_control_60" aria-label="exp_entreprise" aria-describedby="basic-addon2" placeholder="En année...">-->
                            {{ form_widget(form.Anciennete_entreprise, {'attr': {'class': 'form_control_60', 'placeholder': 'En année...'}} ) }}
                        </div>
                    </div>
                </div>
                <p class="text_margin_right">Description :</p>
                <!--<textarea class="text_area_80" aria-label="Description"></textarea>-->
                {{ form_widget(form.Description,{ 'attr': {'cols': '170'} }) }}
            </div>
        </div>
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_picture', { 'id': idEvaluation }) }}" >Annuler</a>
             <button type="submit" class="button3_right" >Continuer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}