{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <div class="row">
            <h1>{% trans %}Repérer{% endtrans %}</h1>
            <h1>></h1>
            <h1>{% trans %}Hiérarchiser{% endtrans %}</h1>
            <h1>></h1>
            <h1 class="mauve">{% trans %}Évaluer{% endtrans %}</h1>
        </div>
        <h1>{% trans %}Manutention Manuelle de charge - Importer une photo{% endtrans %}</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nom_fichier, 'Vous pouvez importer une photo ou vidéo de l\'activité à évaluer', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(form.nom_fichier, {'attr': {'class': 'button_import'}} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.valider, 'Valider', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(form.valider, {'attr': {'class': 'button_picture'}} ) }}
        </div>
        {% if fichier != null %}
            <h3>Liste des éléments :</h3>
            <a class="navbar-brand" href="{{ path('adept_NFX35109_picture_download', { 'id': fichier.id }) }}">
                {{ fichier.nomFichier }}
            </a>
            <a class="navbar-brand" href="{{ path('adept_NFX35109_delete_picture', { 'id': idEvaluation, 'id2': fichier.id }) }}">
                <img src="/images/delete.png" alt="icon supprimer" id="icon_delete" class="icon_click">
            </a>
        {% endif %}
        {{ form_end(form) }}
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_activity',  { 'id': idEvaluateur, 'id2' : idEvaluation }) }}" >{% trans %}Retour{% endtrans %}</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_operator',  { 'id': idEvaluation }) }}">{% trans %}Poursuivre{% endtrans %}</a>
        </div>
    </div>
{% endblock %}