{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <h1>NF X35-109 - Importer une photo</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nom_fichier, 'Vous pouvez importer une photo ou vidéo de l\'activité à évaluer', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(form.nom_fichier, {'attr': {'class': 'button_import'}} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.valider, 'Valider', {'label_attr': {'class': 'p'}} ) }}
            {{ form_widget(form.valider, {'attr': {'class': 'button'}} ) }}
        </div>
        {{ form_end(form) }}
        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_NFX35109_activity') }}" >{% trans %}Retour{% endtrans %}</a>
            <a class="button3_right" href="{{ path('adept_NFX35109_operator') }}" >Poursuivre</a>
        </div>
    </div>
{% endblock %}