{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_90">
        <p>{% trans %}Veuillez répondre aux questions suivantes :{% endtrans %}</p>

        <div class="switch" id="switch_Q1">
            <p>{% trans %} - Votre activité présente t-elle de la manutention de charge avec ou sans déplacement de l'opérateur ?{% endtrans %}</p>
            <input type="checkbox" id="check_Q1" value="non">
            <label for="check_Q1" data-off="Non" data-on="Oui"></label>
        </div>

        <div class="switch" id="switch_Q2">
            <p>{% trans %} - Ces charges sont-elles supérieures ou égales à 3 kg ?{% endtrans %}</p>
            <input type="checkbox" id="check_Q2" value="non">
            <label for="check_Q2" data-off="Non" data-on="Oui"></label>
        </div>

        <!--<div class="switch" id="switch_Q3">
            <p> - Avez-vous identifié et hiérarchisé les postes de travail présentant ces problématiques ?</p>
            <input type="checkbox" id="check_Q3" value="non">
            <label for="check_Q3" data-off="Non" data-on="Oui"></label>
        </div>-->

        <div class="switch" id="switch_Q3">
            <p>{% trans %} - Voulez-vous identifier et hiérarchiser les postes de travail présentant ces problématiques ?{% endtrans %}</p>
            <input type="checkbox" id="check_Q3" value="non">
            <label for="check_Q3" data-off="Non" data-on="Oui"></label>
        </div>

        <div class="switch" id="switch_Q4">
            <p>{% trans %} - Voulez-vous évaluer une situation de travail présentant ces problématiques ?{% endtrans %}</p>
            <input type="checkbox" id="check_Q4" value="non">
            <label for="check_Q4" data-off="Non" data-on="Oui"></label>
        </div>

        <p class="mauve" id="flag_inadaptee"> -> {% trans %}Cette situation n'est pas adaptée à l'application.{% endtrans %}</p>
        <p class="mauve" id="flag_ED6161"> -> {% trans %}Cet outil va permettre de hiérarchiser les postes de travail.{% endtrans %}</p>
        <p class="mauve" id="flag_NFX35109"> -> {% trans %}Cet outil va permettre d'évaluer une situation de travail.{% endtrans %}</p>

        <script>
            document.getElementById("switch_Q2").style.display = 'none';
            document.getElementById("switch_Q3").style.display = 'none';
            document.getElementById("switch_Q4").style.display = 'none';
            document.getElementById("flag_inadaptee").style.display = 'block';
            document.getElementById("flag_ED6161").style.display = 'none';
            document.getElementById("flag_NFX35109").style.display = 'none';

            function displayQ2(){
                if (document.getElementById('check_Q1').checked){
                    /* Afficher la question 2 */
                    document.getElementById('switch_Q2').style.display = 'block';
                } else {
                    /* Masquer la question 2 */
                    document.getElementById('switch_Q2').style.display = 'none';
                    document.getElementById('check_Q2').checked = false;
                    displayQ3();
                }
            }

            function displayQ3(){
                if (document.getElementById('check_Q2').checked){
                    /* Afficher la question 3 et 4 */
                    document.getElementById('switch_Q3').style.display = 'block';
                    document.getElementById('switch_Q4').style.display = 'block';
                    //document.getElementById('flag_NFX35109').style.display = 'block';
                } else {
                    /* Masquer la question 3 et 4 */
                    document.getElementById('switch_Q3').style.display = 'none';
                    document.getElementById('switch_Q4').style.display = 'none';
                    document.getElementById('check_Q3').checked = false;
                    document.getElementById('check_Q4').checked = false;
                    updateResult();
                }
            }

            function updateResult(){
                if (document.getElementById('check_Q2').checked){
                    if (!document.getElementById('check_Q3').checked){
                        if(document.getElementById('check_Q4').checked) {
                            /* NFX 35-109 */
                            document.getElementById('flag_inadaptee').style.display = 'none';
                            document.getElementById('flag_ED6161').style.display = 'none';
                            document.getElementById('flag_NFX35109').style.display = 'block';
                            document.getElementById('button_confirm_choice').href="{{ path('adept_tool_NFX35109',  { 'id': evaluation.id } ) }}";
                        } else {
                            /* Rien - Guide */
                            document.getElementById("flag_inadaptee").style.display = 'block';
                            document.getElementById('flag_ED6161').style.display = 'none';
                            document.getElementById('flag_NFX35109').style.display = 'none';
                            document.getElementById('button_confirm_choice').href="{{ path('adept_tool_guide',  { 'id': evaluation.id } ) }}";
                        }
                        
                    } else {
                        /* ED6161 */
                        document.getElementById('flag_inadaptee').style.display = 'none';
                        document.getElementById('flag_NFX35109').style.display = 'none';
                        document.getElementById('flag_ED6161').style.display = 'block';
                        document.getElementById('button_confirm_choice').href="{{ path('adept_tool_new_ED6161',  { 'id': evaluation.id } ) }}";
                    }
                } else {
                    /* Rien - Guide */
                    document.getElementById("flag_inadaptee").style.display = 'block';
                    document.getElementById('flag_NFX35109').style.display = 'none';
                    document.getElementById('flag_ED6161').style.display = 'none';
                    document.getElementById('button_confirm_choice').href="{{ path('adept_tool_guide',  { 'id': evaluation.id } ) }}";
                }
            }

            document.getElementById('check_Q1').addEventListener('change', displayQ2);
            document.getElementById('check_Q2').addEventListener('change', displayQ3);
            document.getElementById('check_Q3').addEventListener('change', updateResult);
            document.getElementById('check_Q4').addEventListener('change', updateResult);
        </script>

        <div class="group_button">
            <a class="button3_left" href="{{ path('adept_evaluator_choose', { 'id': evaluation.evaluateur.id }) }}">{% trans %}Retour{% endtrans %}</a>
            <a class="button3_right" id="button_confirm_choice">{% trans %}Continuer{% endtrans %}</a>
        </div>
    </div>
{% endblock %}