{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <p>{% trans %}L'objectif de cette application est d'améliorer la prévention des Troubles Neuro-musculosquelettiques (TNMS) 
        pour réduire les risques professionnels dûs aux lombalgies{% endtrans %}</p>

        <div>
            <a class="button" href="{{ path('adept_formations') }}" >{% trans %}Se former aux outils{% endtrans %}</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_analyze_choice') }}" >{% trans %}Utiliser un outil de cotation{% endtrans %}</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_company_balance_sheet') }}" >{% trans %}Réaliser un bilan d'entreprise{% endtrans %}</a>
        </div>
        <!--<div>
            <a class="button" href="{{ path('adept_settings') }}" >{% trans %}Paramètres{% endtrans %}</a>
        </div>-->
        <div>
            <a class="button" href="{{ path('security_logout') }}" >{% trans %}Se déconnecter{% endtrans %}</a>
        </div>
    </div>
{% endblock %}