{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_900">
        <p>{% trans %}L'objectif de cette application est d'améliorer la prévention des Troubles Neuro-musculosquelettiques (TNMS) 
        pour réduire les risques de lombalgies liés à la charge physique de travail.{% endtrans %}</p>

        <div>
            <a class="button" href="{{ path('adept_formations') }}" >Tutoriel</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_evaluator') }}" >Repérer, Hiérarchiser, Évaluer</a>
        </div>
        <!--<div>
            <a class="button" href="{{ path('adept_analyze_choice') }}" >{% trans %}Utiliser un outil de cotation{% endtrans %}</a>
        </div>-->
        <div>
            <a class="button" href="{{ path('adept_company_balance_sheet') }}" >{% trans %}Réaliser un bilan d'entreprise{% endtrans %}</a>
        </div>
        <div>
            <a class="button" href="{{ path('adept_search') }}" >Rechercher une évaluation</a>
        </div>
        <!--<div>
            <a class="button" href="{{ path('adept_settings') }}" >{% trans %}Paramètres{% endtrans %}</a>
        </div>-->
        <div>
            <a class="button" href="{{ path('security_logout') }}" >{% trans %}Se déconnecter{% endtrans %}</a>
        </div>
    </div>
{% endblock %}