{% extends 'base.html.twig' %}
{% block body %}
    <div class="fixe_largeur_900">
        <!-- Button trigger modal -->
        <div>
            <button type="button" class="button" data-toggle="modal" data-target="#exampleModalCenter">NF X35-109</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h_dark" id="exampleModalLongTitle">Avant NF X35-109</h5>
                    </div>
                    <div class="modal-body">
                        <h5 class="h_dark">Veuillez cocher la case qui correspond à votre situation :</h5>
                        <br>
                        <div class="modal_radio_container">
                            <input type="radio" id="new_ED6161" class="modal_radio" name="ask4_ED6161" value="new_ED6161">
                            <label class="modal_label" for="new_ED6161">Vous souhaitez hiérarchiser différentes situations en vous appuyant sur l'ED6161</label>
                        </div>
                        <div class="modal_radio_container">
                            <input type="radio" id="new_NFX35109" class="modal_radio" name="ask4_ED6161" value="new_NFX35109">
                            <label class="modal_label" for="new_NFX35109">Vous souhaitez utiliser directement NF X35-109</label>
                        </div>
                        <div class="modal_radio_container">
                            <input type="radio" id="load_ED6161" class="modal_radio" name="ask4_ED6161" value="load_ED6161">
                            <label class="modal_label" for="load_ED6161">Vous souhaitez reprendre les différentes situations déjà hiérarchisées avec l'ED6161</label>
                        </div>
                    </div>

                    <script>
                        function ModifyConfirmLink(){
                            /* On mofidie le lien du bouton valider en fonction de la case cochée */
                            if (document.getElementById('new_ED6161').checked) {
                                /*document.getElementById('button_confirm_choice').href="{{ path('adept_tool_NFX35109') }}";*/
                            } else {
                                if (document.getElementById('new_NFX35109').checked) {
                                    document.getElementById('button_confirm_choice').href="{{ path('adept_tool_NFX35109') }}";
                                } else {
                                    if (document.getElementById('load_ED6161').checked) {
                                        /*document.getElementById('button_confirm_choice').href="{{ path('adept_tool_NFX35109') }}";*/
                                    }
                                }
                            }
                        }

                        document.getElementById('new_ED6161').addEventListener('change', ModifyConfirmLink);
                        document.getElementById('new_NFX35109').addEventListener('change', ModifyConfirmLink);
                        document.getElementById('load_ED6161').addEventListener('change', ModifyConfirmLink);
                    </script>

                    <div class="modal-footer group_button">
                        <button type="button" class="modal_button" data-dismiss="modal">Annuler</button>
                        <a class="button_adept" id="button_confirm_choice" href="{{ path('adept_ergonomics_tools_list') }}" >Valider</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div>
            <a class="button" href="{{ path('adept_tool_NIOSH') }}" >{% trans %}Équation du NIOSH{% endtrans %}</a>
        </div>-->
        <div>
            <a class="button" href="{{ path('adept_analyze_choice') }}" >{% trans %}Retour{% endtrans %}</a>
        </div>
    </div>
{% endblock %}